<!DOCTYPE html>
<html>
<body>


<!-- couldn't get this to work 
<iframe src="http://www.news.google.com/news/section?pz=1&cf=all&ned=us&hl=en&as_scoring=r&as_maxm=2&q=cape_canaveral&as_qdr=m&as_drrb=q+&as_mind=29&as_minm=1&cf=all&as_maxd=28&output=rss.xml"></iframe>
-->

<img style="position: absolute; right: 0px;  width=65%; height=50%" src="{{photo_url}}">

<iframe style="position: absolute; width: 40%; height: 100%; border: none" src="https://www.bing.com/news/search?q={{search_term}}&format=RSS.xml"></iframe>

</body>
</html>

